* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  body {
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-items {
  position: relative;
  right: 200px;
  top: 2px;
}

.nav-items > a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  margin-left: 20px;
  background-color: #726bec;
  padding: 8px 24px;
  margin: 30px;
  border-radius: 24px;
}

.nav-bar > img {
  width: 150px;
  height: 150px;
  position: relative;
  left:120px;
  top:2px;
}

.bank-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
}

.bank-img-container {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.bank-img-container > img {
  width: 700px;
}

.bank-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.bank-text-container > h1 {
  font-size: 100px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #726bec;
  line-height: 1.1;
}

.services > h2 {
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #726bec;
}

.service-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10vh;
}

.service-item {
  background-color: #726bec;
  padding: 20px;
  margin: 20px;
  border-radius: 50px;
}

.service-item > img {
  width: 65px;
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.service-item > h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #000000;
}

.service-item > p {
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.about-section > h2 {
  text-align: center;
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 50px;
  color: #726bec;
}

.about-section > p {
  text-align: center;
  font-size: 25px;
  color: #000000;
  margin: 0px 300px;
  font-weight: 100;
}

.contact-section > h2 {
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #726bec;
}

.contact-section > p {
  text-align: center;
  font-size: 25px;
  color: #000000;
  margin: 0px 300px;
  font-weight: 100;
}

.footer-section {
  background-color: #726bec;
  height: 25vh;
  margin-top: 50px;
}

footer {
  display: block;
}

.footer-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 2rem;
}

.social-container {
  margin-top: 2.5rem;
}

.social-container > img {
  margin-left: 10px;
  cursor: pointer;
  width: 30px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-items > a {
  text-decoration: none;
  color: #726bec;
  margin-bottom: 15px;
  font-weight: 600;
  background: hsl(0, 0%, 100%);
  padding: 7px;
  border-radius: 20px;
}

.copyrights {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #FFFFFF;
}
